$body-color: #1E1E1E;
$text-color: white;
$grid-color: #181818;
$border-color: white;
$snake-color: #00FF00;
$apple-color: #FFFF00;
$head-color: #006400;

* {
    color: $text-color;
}

body{
    background-color: $body-color;
}

#app {
    margin-top: 50px;
    text-align: center;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    @mixin cell {
        outline: 1px solid grey;
        position: relative;
    }

    div {
        @include cell;
        background-color: $grid-color;
    }

    .snake {
        @include cell;
        background-color: $snake-color;

        @mixin before {
            content: '';
            position: absolute;
            height: 50%;
            outline: 1px solid black;
        }

        @mixin after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50%;
            outline: 1px solid black;
        }

        &.vertical_tail_down {
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                outline: 1px solid black;
                height: 50%;
            }
        }

        &.horizontal_head_right {
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                outline: 1px solid black;
                width: 50px;
            }
        }

        &.horizontal {
            &::before {
                content: '';
                position: absolute;
                left: 0%;
                top: 50%;
                outline: 1px solid black;
                width: 50px;
            }
        }

        &.vertical {
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 0%;
                height: 50px;
                outline: 1px solid black;
            }
        }

        &.up_left {
            transform: rotate(-90deg);
            &::before {
                @include before;
            }
            &::after {
                @include after;
            }
        }

        &.up_right {
            transform: rotate(0deg);
            &::before {
                @include before;
            }
            &::after {
                @include after;
            }
        }

        &.down_right {
            transform: rotate(90deg);
            &::before {
                @include before;
            }
            &::after {
                @include after;
            }
        }

        &.down_left {
            transform: rotate(180deg);
            &::before {
                @include before;
            }
            &::after {
                @include after;
            }
        }
    }

    .apple {
        @include cell;
        background-color: $apple-color;
    }
}
