$body-color: #1E1E1E;
$text-color: white;
$border-color: white;
$snake-color: #00FF00;
$apple-color: #FFFF00;
$head-color: #006400;

* {
    color: $text-color;
}

body{
    background-color: $body-color;
}

#app {
    margin-top: 50px;
    text-align: center;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    @mixin cell {
        outline: 1px solid grey;
        position: relative;
    }

    div {
        @include cell;
        background-color: $body-color;
        background-size: cover;
    }

    .snake {
        @include cell;
        background-repeat: no-repeat;

        &.vertical_head_up {
            background-image: url('../images/snake.png');
            transform: rotate(-90deg);
        }

        &.vertical_head_down {
            background-image: url('../images/snake.png');
            transform: rotate(90deg);
        }

        &.horizontal_head_left {
            background-image: url('../images/snake.png');
            transform: rotate(180deg);
        }

        &.horizontal_head_right {
            background-image: url('../images/snake.png');
        }

        &.vertical_tail_down {
            background-image: url('../images/line.png');
            background-position: 10px;
            transform: rotate(90deg);
        }

        &.horizontal_tail_right {
            background-image: url('../images/line.png');
            background-position: 10px;
        }

        &.vertical_tail_up {
            background-image: url('../images/line.png');
            background-position: 10px;
            transform: rotate(-90deg);
        }

        &.horizontal_tail_left {
            background-image: url('../images/line.png');
            background-position: 10px;
            transform: rotate(180deg);
        }

        &.horizontal {
            background-image: url('../images/line.png');
        }

        &.vertical {
            background-image: url('../images/line.png');
            transform: rotate(90deg);
        }

        &.up_left {
            background-image: url('../images/square.png');
            transform: rotate(-90deg);
        }

        &.up_right {
            background-image: url('../images/square.png');
        }

        &.down_right {
            background-image: url('../images/square.png');
            transform: rotate(90deg);
        }

        &.down_left {
            background-image: url('../images/square.png');
            transform: rotate(180deg);
        }
    }

    .apple {
        @include cell;
        background-image: url('../images/apple.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
}
